<footer class="footer">
	<span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/analytics.js" | prepend: site.baseurl }}"></script>